article {
		@extends .row;
		.row{
			background: #fff;
		}

		section {
			@extends .row;
			margin: rem-calc(20px 0 50px 0);

			.button-group {
				@extends .row;
			}
			table {
				margin-bottom:0;
				th {
					text-align: center;
				}
				.delete, .edit{
					padding: rem-calc(10px 10px);
					width: rem-calc(40px);
					height: rem-calc(40px);
					margin:0;
				}
				tfoot {
					margin:auto;
				}
			}
		}

}