article {
    @extends .row;
    .row {
        background: #fff;
    }
    section {
        @extends .row;
        margin: rem-calc(20px 0 50px 0);
        .button-group {
            @extends .row;
        }
        table {
            th {
                text-align: center;
                &.small {
                    width: rem-calc(40px);
                }


            }
            td {
                .delete, .edit {
                    padding: rem-calc(10px 10px);
                    width: rem-calc(40px);
                    height: rem-calc(40px);
                    margin: 0;
                }
            }
            .ui-sortable-helper {
                background-color: white;
                display: table;
            }
        }
    }
}

ul.pagination {
    display: block;
    margin-left: -0.3125rem;
    min-height: 1.5rem;
    margin-top: 1rem;
}

td,th {
    &.p7 {
        width:7%;
    }
    &.p8 {
        width:7%;
    }
    &.p10{
        width: 10%;
    }
    &.p13{
        width:13%;
    }
    &.p15{
        width:15%;
    }
    &.p20{
        width:20%;
    }
    &.p25 {
        width:25%;
    }
    &.p36 {
        width:36%;
    }
}