 #document {
    margin-top: 2rem;
    margin-bottom:2rem;
    font-family: DejaVu Sans, sans-serif;
    font-size: 10px;

    .r {
      text-align: right;
    }

	.border {
    border:1px solid black;
    }

    table {
      margin:0;
      padding:0;
      td {
        background-color: #FFFFFF;
      }
    	&.body {
		    width:100%;
		    border-collapse: collapse;
		    thead {
		    	tr {
            padding:0;
            margin:0;
		    	}
		    	h1 {
		    		font-size: 14px ;
				    padding: 0;
				    margin: 0;
		    	}
		    }
			tbody {
				border: 1px solid black;
    			border-bottom: none;
    			tr {
    				&#contacts {
    					td {
						    vertical-align: top;
						    padding-top: 1rem;
    					}
    					small {
    						margin-left: 1.5rem;
                font-size: 9px;
    					}
    					p {
    						margin-left: 2.5rem;
    						&>i {
    						}
    					}
    				}
    				&#dates {
    					td {
					      	padding: 0.6rem;
					      	padding-left: 1rem;
    					}
    				}
            &#items {
              table {
                width: 100%;
                height: auto;
                padding:0;
                margin:0;
                margin-bottom: 1rem;

                th {
                  text-align: left;
                }
                tbody {
                  border: none;
                  margin: 0;
                  tr {
                    line-height: 1.7rem;
                  }
                }
                td {
                  vertical-align: top;
                }
              }
            }
            &#endPrice {
              td {
              padding-bottom: 1rem;
              padding-top: 1rem;
              padding-left: 1rem;
              padding-right: 1rem;
              }
            }
            &#signature {
              vertical-align: top;
              height:8rem;
              .sign {
                margin-bottom: 2rem;
                padding-left:1rem;
              }
              .stamp {
                margin-bottom: 4rem;
              }
            }
    			}
			}
			tfoot {
				line-height: 2rem;
      			font-size: 7px;
      			border: 1px solid black;
      			border-top: none;

      			td {
					    padding-left:1rem;
			      	height: 5rem;
			      	vertical-align: bottom;
      			  font-weight: 400;
            }
			}
		    .left {
				float:left;
		    }
		    .right {
				float:right;
		    }
		    .center {
		    	text-align: center;
		    }
		    .half {
		    	width: 50%;
		    }
		    .quater {
		    	width: 25%;
		    }
		    .full {
		    	width:100%;
    			padding:0;
          table{
            margin: 0;
          }
		    }
			td.blank {
				border: none;
			}
			.r-b-none {
			    border-right: none;
			}
			.l-b-none {
    			border-left: none;
    		}
		}
	}
}

    table,tr,td {
    border-collapse: collapse;
    }