<table class="body" style="width: 100%; border-collapse: collapse; background: white;" bgcolor="white"><thead><tr style="font-size: 0.9rem; border-collapse: collapse; background: white;" bgcolor="white"><td class="half" style="width: 50%; border-collapse: collapse; background: white;" bgcolor="white"></td>
                <td class="quater border r-b-none center" style="text-align: center; width: 25%; border-collapse: collapse; background: white; border-color: black; border-style: solid none solid solid; border-width: 1px;" align="center" bgcolor="white">
                  <h1 style="font-size: 1.2rem; margin: 0; padding: 0.7rem 0 0.7rem 0.2rem;">Cenová nabídka</h1>
                </td>
                <td class="quater border l-b-none center" style="text-align: center; width: 25%; border-collapse: collapse; background: white; border-color: black; border-style: solid solid solid none; border-width: 1px;" align="center" bgcolor="white">
                  číslo: 2015/0001
                </td>
              </tr></thead><tbody style="border-color: black; border-style: solid solid none; border-width: 1px;"><tr id="contacts" style="border-collapse: collapse; background: white;" bgcolor="white"><td class="half" style="width: 50%; border-collapse: collapse; font-size: 0.9rem; vertical-align: top; padding-top: 1rem; background: white;" bgcolor="white" valign="top">
                  <small style="margin-left: 1.5rem; font-size: 0.8rem;">Dodavatel</small>
                  <p style="margin-left: 2rem;">
                  <strong>Vaše jméno</strong><br />
                  Ulice č.p. <br />
                  Město, PSČ <br /><br />
                  IČ: xxx xx xxx<br />
                  DIČ: CZ xxxxxxxxxx<br /></p>
                  <p style="margin-left: 2rem;">
                  <i style="font-size: 0.9rem;">Poznámka</i>
                  </p>
                </td>
                <td class="half" colspan="2" style="width: 50%; border-collapse: collapse; font-size: 0.9rem; vertical-align: top; padding-top: 1rem; background: white;" bgcolor="white" valign="top">
                  <small style="margin-left: 1.5rem; font-size: 0.8rem;">Odběratel</small>
                  <p style="margin-left: 2rem;">
                  <strong>Jméno</strong><br />
                  Ulice č.p. <br />
                  Město, PSČ <br /><br />
                  IČ: xxx xx xxx<br />
                  DIČ: CZ xxxxxxxxxx<br /></p>
                </td>
              </tr><tr id="dates" style="border-collapse: collapse; background: white;" bgcolor="white"><td class="half" style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px; border-top-style: solid; border-top-color: black; border-top-width: 1px; width: 50%; border-collapse: collapse; font-size: 0.9rem; background: white; padding: 0.6rem 0.6rem 0.6rem 1rem;" bgcolor="white">Datum vystavení: 24.4.2034</td>
                        <td class="half" style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px; border-top-style: solid; border-top-color: black; border-top-width: 1px; width: 50%; border-collapse: collapse; font-size: 0.9rem; background: white; padding: 0.6rem 0.6rem 0.6rem 1rem;" colspan="2" bgcolor="white"><strong>Datum konce platnosti:</strong> 24.4.2035</td>


              </tr><tr id="items" class="border" style="border-collapse: collapse; background: white; border: 1px solid black;" bgcolor="white"><td class="full" colspan="3" style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; border-collapse: collapse; width: 100%; background: white; padding: 0 1rem;" bgcolor="white">
                  <table style="border-collapse: collapse; width: 100%; height: auto; font-size: 0.9rem; background: white; margin: 1rem 0; padding: 0;" bgcolor="white"><thead><tr style="font-size: 0.9rem; border-collapse: collapse; background: white;" bgcolor="white"><th style="width: 13%; text-align: left; font-size: 0.9rem; line-height: 0.9rem; vertical-align: top;" align="left" valign="top">Kód</th>
                        <th style="width: 40%; text-align: left; font-size: 0.9rem; line-height: 0.9rem; vertical-align: top;" align="left" valign="top">Název</th>
                        <th style="width: 15%; text-align: left; font-size: 0.9rem; line-height: 0.9rem; vertical-align: top;" align="left" valign="top">Cena za ks</th>
                        <th style="width: 12%; text-align: left; font-size: 0.9rem; line-height: 0.9rem; vertical-align: top;" align="left" valign="top">Ks</th>
                        <th style="width: 20%; text-align: left; font-size: 0.9rem; line-height: 0.9rem; vertical-align: top;" class="r" align="left" valign="top">Cena celkem</th>
                      </tr></thead><tbody style="margin: 0; border: 1px none black;"><tr style="border-collapse: collapse; line-height: 1rem; background: white;" bgcolor="white"><td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">001/002</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">Lorem ipsum Sunt eiusmod ut.</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">50 Kč</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">50</td>
                      <td class="r" style="text-align: right; border-collapse: collapse; vertical-align: top; background: white;" align="right" bgcolor="white" valign="top">2500 Kč</td>
                    </tr><tr style="border-collapse: collapse; line-height: 1rem; background: white;" bgcolor="white"><td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">001/002</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">Lorem ipsum Ullamco deserunt exercitation nulla proident.</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">50 Kč</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">5</td>
                      <td class="r" style="text-align: right; border-collapse: collapse; vertical-align: top; background: white;" align="right" bgcolor="white" valign="top">250 Kč</td>
                    </tr><tr style="border-collapse: collapse; line-height: 1rem; background: white;" bgcolor="white"><td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">001/002</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">Lorem ipsum Nostrud deserunt ex.</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">50 Kč</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">2</td>
                      <td class="r" style="text-align: right; border-collapse: collapse; vertical-align: top; background: white;" align="right" bgcolor="white" valign="top">100 Kč</td>
                    </tr><tr style="border-collapse: collapse; line-height: 1rem; background: white;" bgcolor="white"><td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">001/002</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">Lorem ipsum Deserunt culpa aute.</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">50 000 Kč</td>
                      <td style="border-collapse: collapse; vertical-align: top; background: white;" bgcolor="white" valign="top">6</td>
                      <td class="r" style="text-align: right; border-collapse: collapse; vertical-align: top; background: white;" align="right" bgcolor="white" valign="top">300 000 Kč</td>
                    </tr></tbody></table></td>
              </tr><tr id="endPrice" style="border-collapse: collapse; background: white;" bgcolor="white"><td class="half" style="width: 50%; border-collapse: collapse; font-size: 0.9rem; background: white; padding: 1rem;" bgcolor="white"></td>
                <td class="quater border r-b-none" style="width: 25%; border-collapse: collapse; font-size: 0.9rem; background: white; padding: 1rem; border-color: black; border-style: solid none solid solid; border-width: 1px;" bgcolor="white"><strong>Celkem k úhradě: </strong></td>
                <td class="quater border l-b-none r" style="text-align: right; width: 25%; border-collapse: collapse; font-size: 0.9rem; background: white; padding: 1rem; border-color: black; border-style: solid solid solid none; border-width: 1px;" align="right" bgcolor="white"><strong>302 850 Kč</strong></td>
              </tr><tr id="signature" style="border-collapse: collapse; vertical-align: top; height: 8rem; font-size: 0.9rem; background: white;" bgcolor="white"><td class="half" style="width: 50%; border-collapse: collapse; background: white;" bgcolor="white"><p class="sign" style="margin-bottom: 2rem; padding-left: 1rem;">Podpis:</p></td>
                 <td class="half" colspan="2" style="width: 50%; border-collapse: collapse; background: white;" bgcolor="white"><p class="stamp" style="margin-bottom: 4rem;">Razítko:</p></td>
              </tr></tbody><tfoot style="line-height: 2rem; font-size: 0.8rem; border-color: black; border-style: none solid solid; border-width: 1px;"><tr style="border-collapse: collapse; background: white;" bgcolor="white"><td colspan="3" style="padding-left: 1rem; height: 5rem; vertical-align: bottom; border-collapse: collapse; background: white;" bgcolor="white" valign="bottom">Vyřizuje: <strong>Ondřej Brabec</strong>, Telefon: +420 xxx xxx xxx</td>
              </tr></tfoot></table>